@{
    // Controller and Folder to read
    string currentController = ViewContext.RouteData.Values["controller"].ToString();
   
    // viewName will be the name of one of the folders imageFolder
    var viewName = ViewData["ViewName"]?.ToString() ?? "Galleries";

    // Filter on all files initially
    var filter = "*.*";

    // the file content path
    var contentPath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Galleries", currentController);

    // Read the folder names in the folder location
    var folders = Directory.GetDirectories(System.IO.Path.Combine(Directory.GetCurrentDirectory(), string.Format("wwwroot/Galleries/{0}", currentController)))
                           .Select(folder => System.IO.Path.GetFileName(folder))
                           .ToList();

    // Retrieve all files
    var allFiles = Directory.GetFiles(System.IO.Path.Combine(contentPath, viewName), filter);

    // Filter only *.png and *.jpg files
    var files = allFiles
        .Where(file => System.IO.Path.GetExtension(file).Equals(".png", StringComparison.OrdinalIgnoreCase) ||
                       System.IO.Path.GetExtension(file).Equals(".jpg", StringComparison.OrdinalIgnoreCase))
        .Select(file => $"~/{System.IO.Path.Combine("Galleries", currentController, viewName, System.IO.Path.GetFileName(file)).Replace("\\", "/")}")
        .ToList();
}

<div class="container">
    <!-- Go to Top Button -->
    <button onclick="topFunction()" id="top-button" title="Go to top">Top</button>

    <!-- Folders Menu -->
    <div class="container text-center">
        <div class="row gx-0 gx-lg-4 justify-content-center row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-auto  g-1 g-lg-3 mb-3">
            @foreach (var folder in folders)
            {
                <div class="col menu-item" data-viewName="@folder">
                    <div class="bg-light text-center p-0 border border border-dark rounded-3">
                        <a style="text-decoration: none;" class="menu-link bg-light text-black w-100" asp-controller="@currentController" asp-action="Gallery" asp-route-viewName="@folder">@folder</a>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Heading -->
    <div class="text-center mt-3">
        <h2>@viewName Gallery</h2>
    </div>

    <!-- Image Files -->
    <div id="image-container" class="row">
        @foreach (var file in files)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mb-3">
                <a class="d-block text-center text-decoration-none" href="@Url.Content(file)" target="_blank" title="Full Screen">
                    <img class="menu-link w-100 img-fluid mx-auto" data-src="@Url.Content(file)" alt="" />
                    <div class="text-black text-center">
                        @System.IO.Path.GetFileName(file).ToString()
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<script>

    hideCurrentMenuSelection('@viewName');

    function hideCurrentMenuSelection(viewName) {
        var elements = document.querySelectorAll('.menu-item');
        elements.forEach(function (element) {
            if (element.getAttribute('data-viewName') === viewName) {
                element.style.display = 'none';
            } else {
                element.style.display = '';
            }
        });
    }

</script>
