@{
    string currentController = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Home";
    Func<string, string, string> IsLinkSelected = (controller, action) =>
    {
        var url = Url.Action(action, controller);
        var currentUrl = Context.Request.Path;

        return currentUrl.Equals(url, StringComparison.OrdinalIgnoreCase) ? "selected" : "";
    };

    // Organization variables
    string site_Name = "The Mikish Group";
    string siteName = "Illustrate";    
    string siteURL = "https://illustrate.net";
    string pageShareFolder = siteURL + "/PageShares/";
    string pageShareImage = "BlueSun-ps.png";
    string pageShareImageHeight = "1200";
    string pageShareImageWidth = "1200";
    string title = currentController + " - " + siteName;
    string description = "Enjoying Life!";
    string canonical = siteURL + "/" + currentController;
    string image = pageShareFolder + pageShareImage;
    string ImageWidth = pageShareImageWidth;
    string ImageHeight = pageShareImageHeight;
    string viewName = ViewData["ViewName"]?.ToString() ?? "Index";

    if (currentController == "AP")
    {
        pageShareImage = "AP-ps.png";
    }
    if (currentController == "BC")
    {
        pageShareImage = "BC-ps.jpg";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>@viewName - @siteName</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="@description" />
    <link rel="canonical" href="@canonical" />
        
    <!-- Default FB App ID unused -->
    <meta property="fb:app_id" content="966242223397117" />

    <!-- Link Sharing stuff -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="@title;" />
    <meta property="og:determiner" content="The" />
    <meta property="og:description" content="@description" />
    <meta property="og:site_name" content="@site_Name" />
    <meta property="og:url" content="@siteURL + '/' + currentController;" />
    <meta property="og:image" content="@image" />
    <meta property="og:image:url" content="@image" />
    <meta property="og:image:secure_url" content="@image" />
    <meta property="og:image:alt" content="Share Image" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="@ImageWidth" />
    <meta property="og:image:height" content="@ImageHeight" />

    <!-- Twitter Link Share Setup -->
    <!-- (more info here: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup) -->
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:image" content="@image" />
    <meta name="twitter:image:width" content="@ImageWidth" />
    <meta name="twitter:image:height" content="@ImageHeight" />

    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="23ZjV4j9CxM5SWQXeC7pB-ylHq3qhcPpyoncr5A7GnA" />

    <!-- FavIcon(s) -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/icons/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/icons/favicon-32x32.png" />
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
    <link rel="manifest" href="/icons/site.webmanifest">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- My Site.js -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Site Style CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Illustrate.styles.css" asp-append-version="true" />

</head>

<body>    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @*  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Illustrate</a> *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Home Link -->
                        <li class="nav-item">
                            <a class="nav-link menu-link @(IsLinkSelected("Home", "Index"))" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <!-- Contact Link -->
                        <li class="nav-item">
                            <a class="nav-link menu-link @(IsLinkSelected("Home", "Contact"))" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>

                        <!-- Privacy Link -->
                        <li class="nav-item">
                            <a class="nav-link menu-link @(IsLinkSelected("Home", "Privacy"))" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <!-- TOS Link -->
                        <li class="nav-item">
                            <a class="nav-link menu-link @(IsLinkSelected("Home", "TOS"))" asp-area="" asp-controller="Home" asp-action="TOS">TOS</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted text-center">
        <div class="container pt-2">
        &copy; 1998-2024 - <a class="text-decoration-none text-dark text-muted text-center" href="@siteURL">@site_Name</a>
        </div>
    </footer>

</body>
</html>