<!-- Shared Gallery.cshtml -->
@{
    string galleryFolder = "gallery"; // Gallery Folder Name (location of gallery = wwwroot/{galleryFolder})
        
    string currentController = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Shared";
    var folders = Directory.GetDirectories(System.IO.Path.Combine(Directory.GetCurrentDirectory(), $"wwwroot/{galleryFolder}/{currentController}"))
                           .Select(folder => System.IO.Path.GetFileName(folder))
                           .ToList();
    
    string currentAction = ViewContext.RouteData.Values["action"]?.ToString() ?? "";
    var contentPath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", currentAction, currentController);
    var viewName = ViewData["ViewName"]?.ToString() ?? currentAction;
    var filter = "*.*";

    var allFiles = Directory.GetFiles(System.IO.Path.Combine(contentPath, viewName), filter);
    var files = allFiles
        .Where(file =>
            !System.IO.Path.GetFileName(file).StartsWith("background", StringComparison.OrdinalIgnoreCase) &&
            (System.IO.Path.GetExtension(file).Equals(".png", StringComparison.OrdinalIgnoreCase) ||
             System.IO.Path.GetExtension(file).Equals(".jpg", StringComparison.OrdinalIgnoreCase) ||
             System.IO.Path.GetExtension(file).Equals(".webp", StringComparison.OrdinalIgnoreCase)))
        .Select(file => $"~/{System.IO.Path.Combine(currentAction, currentController, viewName, System.IO.Path.GetFileName(file)).Replace("\\", "/")}")
        .ToList(); 
        
    string backgroundImage = $"gallery/{currentController}/{viewName}/background.webp";
    string[] imageExtensions = { ".jpg", ".png", ".webp" };

    // Loop through possible extensions
    foreach (var extension in imageExtensions)
    {
        var imagePath = $"gallery/{currentController}/{viewName}/background{extension}";
        if (System.IO.File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", imagePath)))
        {            
            backgroundImage = imagePath;
            break;
        }
    }
}

<div class="container text-center">
    <div class="row gx-0 gx-lg-4 justify-content-center row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-auto  g-1 g-lg-3 mb-3">

        <div class="col menu-item">
            <div class="bg-danger text-center p-0 border border border-dark rounded">
                <a class="menu-link text-dark w-100" asp-area="" asp-controller="@currentController" asp-action="Index">Back</a>
            </div>
        </div>

        @foreach (var folder in folders)
        {
            <div class="col menu-item" data-viewName="@folder">
                <div id="@folder" class="bg-light text-center p-0 border border-dark rounded">
                    <a id="@folder link" class="menu-link text-dark w-100" asp-controller="@currentController" asp-action="gallery" asp-route-viewName="@folder">@folder</a>
                </div>
            </div>
        }
    </div>
</div>

<div class="container">
    <button type="button" onclick="topFunction()" id="top-button" title="Go to top">Top</button>
    <div id="images-container" class="row g-0 g-lg-4">
        @foreach (var file in files)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mb-3">
                <a id="@System.IO.Path.GetFileNameWithoutExtension(file)" class="menu-link d-block text-center text-decoration-none bg-white" href="@Url.Content(file)" target="_blank" title="Full-Screen">
                    <img class="w-100 img-fluid mx-auto" data-src="@Url.Content(file)" alt="" />
                    <div class="text-black text-center pt-1">
                        @System.IO.Path.GetFileNameWithoutExtension(file)
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<!-- Replaces the background-image -->
<script>
    $("body").css("background-image", "url('../@Url.Content(backgroundImage)')");
</script>
 
<!-- Toggle the Current Menu Button to indicate it is selected -->
<script>
    var mainElement = document.getElementById("@viewName");
    var secondaryElement = document.getElementById("@viewName link");

    mainElement.classList.toggle("bg-light");
    mainElement.classList.toggle("bg-success");

    secondaryElement.classList.toggle("text-dark");
    secondaryElement.classList.toggle("text-light");
</script>


@* <!-- Hide current selected menu option (Optional) -->    
<script>
    hideCurrentMenuSelection('@viewName');

    function hideCurrentMenuSelection(viewName) {
        var elements = document.querySelectorAll('.menu-item');
        elements.forEach(function (element) {
            if (element.getAttribute('data-viewName') === viewName) {
                element.style.display = 'none';

            } else {
                element.style.display = '';

            }
        });
    }
</script> *@